.about {
    h2 {
        text-align: center;
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        width: clamp(250px, 80%, 3000px);
        margin: 2% auto;
        align-items: center;

        &--infoText,
        &--skills {
            width: clamp(300px, 48%, 1500px);
            margin: 0% auto;
        }

        &--infoText {
            font-family: 'Montserrat', sans-serif;
            font-size: clamp(15px, 1.1vw, 40px);
            padding: 1% 0%;
        }

        &--skills {
            font-size: clamp(20px, 1.3vw, 40px);
            list-style-type: none;

            @media (max-width:750px) {
                margin: 7% auto;
            }
        }

        &--eachSkill {
            padding: 0.5% 3%;
            display: grid;
            grid-template-columns: 1.5fr 4fr;
            width: 80%;
            margin: 0% auto;
            align-items: center;

            @media (max-width:750px) {
                width: 100%;
                grid-template-columns: 3fr 4fr;
                padding: 0.5% 0%;
            }

            &__skillName {
                color: rgb(59, 148, 226);
            }

            &__slider {
                width: 95%;
                height: 15px;
                background-color: rgb(209, 207, 207);

                &Thumb {
                    height: 15px;
                    background-color: #8133ffba;
                    transition: 1.5s ease;
                }
            }
        }
    }
}