.about {
    h2 {
        text-align: center;
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        width: clamp(250px, 80%, 3000px);
        margin: 2% auto;
        align-items: center;

        &--infoText,
        &--skills {
            // background-color: aquamarine;
            width: clamp(300px, 48%, 1500px);
            margin: 0% auto;
        }

        &--infoText {
            font-family: 'Montserrat', sans-serif;
            font-size: clamp(15px, 1.1vw, 40px);
            padding: 1% 0%;
        }

        &--skills {
            font-size: clamp(20px, 1.3vw, 40px);
            list-style-type: none;

            @media (max-width:750px) {
                margin: 7% auto;
            }
        }

        &--eachSkill {
            // background-color: rgba(62, 62, 62, 0.514);
            // background-color: rgba(29, 51, 97, 0.559);
            padding: 0.5% 3%;
            display: grid;
            grid-template-columns: 1.5fr 4fr;
            width: 80%;
            margin: 0% auto;
            // justify-items: center;
            // padding: 0% 1%;

            @media (max-width:750px) {
                width: 100%;
                grid-template-columns: 3fr 4fr;
                // margin: 5% auto;
                padding: 0.5% 0%;
            }

            &--skillName {
                color: rgb(59, 148, 226);
            }

        }

        &--slider {
            overflow: hidden;
            -webkit-appearance: none;
            appearance: none;
            width: 95%;
            height: 15px;
            // background: #d3d3d3;
            // outline: none;
            // opacity: 0.7;
            -webkit-transition: .2s;
            // transition: opacity .2s;'
            background-color: rgb(209, 207, 207);


            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: #8133ffba;
                box-shadow:
                    -20px 0 #8133ffba, -40px 0 #8133ffba, -60px 0 #8133ffba,
                    -80px 0 #8133ffba, -100px 0 #8133ffba, -120px 0 #8133ffba,
                    -140px 0 #8133ffba, -160px 0 #8133ffba, -180px 0 #8133ffba,
                    -200px 0 #8133ffba, -220px 0 #8133ffba, -240px 0 #8133ffba,
                    -260px 0 #8133ffba, -280px 0 #8133ffba, -300px 0 #8133ffba,
                    -320px 0 #8133ffba,
            }
        }

        &::-moz-range-track {
            background-color: #5082e0;
        }
    }

}