.enterLayer {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    letter-spacing: 0.05vw;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__greetings {
        width: clamp(250px, 50%, 1000px);
        color: white;
        user-select: none;
        text-align: center;
        font-size: clamp(30px, 3vw, 50px);

        & p {
            margin: 0% 0%;
        }
    }

    &__showProjects {
        font-size: clamp(18px, 1.3vw, 35px);
        border: 1px solid white;
        padding: 0.8% 1.8%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}