.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: 0.5s ease;
    color: #C3C6C7;
    background-color: #0B0C10;

    &__links {
        display: flex;
        flex-direction: row;
        padding: 0.5%;

        @media (max-width:700px) {
            flex-direction: column;
            padding-left: 5%;
        }

        a {
            margin: 0% 2%;
            font-size: clamp(20px, 1.1vw, 30px);
        }
    }

    &__menuBtn {
        border: none;
        // color: white;
        // color: #C3C6C7;
        display: none;
        width: clamp(50px, 7%, 70px);
        transition: 0.5s ease;
        margin: 1% 2% 0% 2%;

        @media (max-width:700px) {
            display: block;
        }
    }
}