.userForm {
    // background: linear-gradient(-45deg, #f79e83, #f384ae, #7dcce9, #7bdfc8);
    // background-size: 200% 200%;
    // animation: gradient 5s ease infinite;
    height: 80vh;
    display: flex;
    flex-direction: column;
    // color: white;
    justify-content: center;
    align-items: center;

    &__theForm {
        text-align: center;
        width: clamp(250px, 24%, 800px);
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        padding: 1% 3% 3% 3%;

        & input,
        & button,
        & textarea {
            border: none;
            padding: 2% 3%;
            margin: 1.5% 0%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }

        h2 {
            margin: 4% 0%;
        }

        p {
            margin: 2% 0% 6% 0%;
            font-size: clamp(18px, 1.3rem, 25px);
        }
    }
}